@CHARSET "ISO-8859-1";

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #282828;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 100%;
}
*, html {
    line-height: normal;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 1em;
}
ul {
    margin: 0 0 1.5em 2em;
}
li, dt, dd {
    margin-bottom: 0.5em;
    list-style: none outside none;
}

img {
    vertical-align: middle;
}
a img {
    border: medium none;
}
a {
    color: #0083BF;
    outline: 0 none;
    text-decoration: none;
}

input, select, textarea {
    background: url("../images/v3.bkInput.png") repeat-x scroll left top transparent;
    color: #515151;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

input[type="checkbox"] {
    background-image: none;
    border: medium none !important;
}
:root [type="checkbox"] {
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.2em;
}
table {
/*     border-bottom: 2px solid #666666; */
    border-collapse: collapse;
    padding-bottom: 0.1em;
    width: 100%;
}

td {
    border-bottom: 1px solid #CFCFCF;
    padding: 0.5em;
    vertical-align: top;
}

.pane li, .pane td {
    font-size: 1.2em;
    line-height: normal;
}

.oculto {
    display: none;
}

.visible {
    display: block !important;
}

.titulo {
    font-weight: bold;
}

a.boton:link, a.boton:visited {
    background: url("../images/v3.bkOrangeStandard.gif") repeat-x scroll 0 0 #FF9100;
    border: 1px solid #FF9100;
}

a.boton:hover, a.boton:active, a.boton:focus {
    background: url("../images/v3.bkOrangeActiveHover.gif") repeat-x scroll left bottom #FF8000;
    border: 1px solid #FF5900;
    text-decoration: none;
}

div.botonera input, div.botonera a {
    font-size: 1.2em;
}

div.ui-layout-north {
    background: url("../images/v3.bkFondoCabecera.png") no-repeat scroll 0 0 #0083BF;
    height: 7.2em !important;
    overflow: visible;
    width: 100%;
}

div#ui-layout-north h1 {
    float: left;
    font-size: 1em;
    margin: 0;
    padding: 2em 0 1.6em 1em;
    width: 24em;
}

div#ui-layout-north ul.menuSup {
    float: right;
    margin: 0;
    padding: 0.2em 0 0;
    position: absolute;
    right: 5em;
    top: 0;
}
div#ui-layout-north ul.menuSup li {
    float: left;
    font-size: 1em;
    list-style-type: none;
    margin: 0 1.3em 0 0;
    padding-left: 0;
    position: relative;
}
div#ui-layout-north ul.menuSup li a.desabilitado, div.ui-layout-north ul.menuSup li a.desabilitado:hover {
    color: #999999;
    cursor: text;
    text-decoration: none;
}
div#ui-layout-north ul.menuSup li a {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px 15px 3px 3px;
}
div#ui-layout-north ul.menuSup li a, div.ui-layout-north ul.menuSup li a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
div#ui-layout-north ul.menuSup li a:hover {
    text-decoration: underline;
}
div.ui-layout-north ul.menuSup li a.ultimo {
    border-right: medium none;
}
div#ui-layout-north ul.menuSup li a.abreDesplegable {
    background: url("../images/bk.closedWhite.png") no-repeat scroll right center transparent;
    padding-right: 19px;
}
div#ui-layout-north ul.menuSup ul.menuDesplegable {
    border-bottom: 2px solid #BABABA;
    border-left: 2px solid #BABABA;
    border-right: 2px solid #BABABA;
    left: 0;
    margin: 0;
    padding: 0.25em 0;
    position: absolute;
    top: 1.8em;
    width: 15em;
}
div#ui-layout-north ul.menuSup ul.menuDesplegable li {
    background: none repeat scroll 0 0 transparent;
    float: none;
    font-size: 1em;
    margin: 0;
    text-align: left;
}
div#ui-layout-north ul.menuSup ul.menuDesplegable li a {
    color: #0083BF;
    padding: 3px 5px;
}
div#ui-layout-north ul.menuSup ul.menuDesplegable li span.inactivo {
    color: #BABABA;
    display: block;
    font-weight: bold;
    padding: 3px 5px;
}
div#ui-layout-north ul.menuSup ul.menuDesplegable li a:hover {
    color: #005DA2;
    text-decoration: underline;
}
div#ui-layout-north ul.menuSup li a.abreDesplegableAbierto {
    background: url("../images/bk.openedGris.png") no-repeat scroll right center #F2F2F2;
    border-left: 2px solid #BABABA;
    border-right: 2px solid #BABABA;
    border-top: 2px solid #BABABA;
    color: #515151;
    padding: 1px 15px 3px 3px;
}

div#ui-layout-north a.salir {
    background: url("../images/v3.bkDegradadoAzulTituloModal.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #005A84;
    color: #FFFFFF;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.05em 0.5em;
    position: absolute;
    right: 1em;
    text-align: center;
    text-decoration: none;
    top: 0.4em;
}
div#ui-layout-north div.fondoCab {
    float: left;
    left: 1em;
    position: absolute;
    top: 3em;
    width: 70em;
}
form.formbuscar {
    background: none repeat scroll 0 0 #F0F0F0;
    height: 3em;
    margin-left: 2.5em;
    padding: 0.4em;
}

div.pane-west, div.pane-east {
    background: none repeat scroll 0 0 #F0F0F0;
}
div.pane-west {
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
}
div.pane-east {
    border-left: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
}

div#mainContent div#docContent {
    padding: 6px;
}
div.outer-center div.ui-layout-north {
    height: auto !important;
}
div#pie {
/*     background: url("../images/tr_peq2.gif") no-repeat scroll right top transparent; */
    border-top: 3px double #CCCCCC;
    clear: both;
    margin: 1em 0 0;
    padding: 0.5em 1em 1.75em;
}
div#pie ul {
    margin: 0.5em 0 0;
    width: 62%;
}
div#pie ul {
    width: 66%;
    float: right;
}
div#pie ul li {
    border-right: 1px solid #CFCFCF;
    display: inline;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-right: 0.25em;
    padding: 0 0.75em 0 0;
    float: right;
}
div.subpanel {
    border-bottom: 1px solid #CFCFCF;
    min-height: 3em;
    padding: 0.4em 0 0.4em 1.3em;
}
h3.titulo-subpanel {
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 1.2em;
    margin-bottom: 0;
}
h3.titulo-subpanel a, h3.titulo-subpanel span {
    background: none repeat scroll 0 0 #F1F1F1;
    display: block;
    font-weight: bold;
    padding: 0.5em 0em 0.4em;
    text-transform: uppercase;
}
h3.titulo-subpanel a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    text-decoration: none;
}
h3.titulo-subpanel a.opened {
    background: url("../images/bk.opened.png") no-repeat scroll 0.1em 0.4em #F1F1F1;
    padding: 0.4em 0 0.4em 1.3em;
}
h3.titulo-subpanel a.opened:hover {
    background: url("../images/bk.opened.png") no-repeat scroll 0.1em 0.4em #FFFFFF;
}
h3.titulo-subpanel a.closed {
    background: url("../images/bk.closed.png") no-repeat scroll 0.1em 0.4em #F1F1F1;
    padding: 0.4em 0 0.4em 1.3em;
}
h3.titulo-subpanel a.closed:hover {
    background: url("../images/bk.closed.png") no-repeat scroll 0.1em 0.4em #FFFFFF;
}
h3.titulo-subpanel span {
    color: #282828;
}

div#titulo-pag {
	font-size: 2.4em;
	margin-bottom: 0.25em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div#mainContent {
	overflow: visible;
	position: absolute;
	left: 240px;
	display: block;
	width: auto;
	visibility: visible;
}
div#panel-izquierdo {
	position: absolute;
	right: auto;
	top: 72px;
	height: 500px;
	z-index: 1;
	width: 239px;
	visibility: visible;
	display: block;
}

div#panel-derecho {
	position: absolute;
	margin: 0px;
	left: auto;
	right: 0px;
	top: 34px;
	bottom: 0px;
	height: 258px;
	z-index: 1;
	width: 239px;
	visibility: visible;
	display: none;
}

/* hernan */

#btnFacturar {
	background: none repeat scroll 0 0 orange;
    float: right;
    font-size: x-large;
    margin: 10px;
}

#listClientsSearched {
	border-bottom: 1px solid #CFCFCF;
}

ul.formFactura {
	margin: 0 0 0.5em 2em;
	border-bottom: 1px solid #CFCFCF;
	padding: 6px;
	overflow: auto;
}

ul.formFactura li {
	position: relative;
	float: left;
	width: 140px;
}

ul.formProducto {
	margin: 0 0 0em 0em;
	border-bottom: 1px solid #CFCFCF;
	padding: 6px;
	overflow: auto;
}

ul.formProducto li {
	position: relative;
	float: left;
	padding-right: 50px;
	width: 100px;
}

ul.formTotal {
	margin: 0 0 0em 0em;
	border-bottom: 1px solid #CFCFCF;
	overflow: auto;
}

ul.formTotal li {
	position: relative;
    float: right;
	padding-right: 50px;
	width: 100px;
}

ul#listaProductos{
	margin: 0 0 0.5em 2em;
}