<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vicenta</display-name>
  <welcome-file-list>
    <welcome-file>JSP/index.jsp</welcome-file>
    <welcome-file>indexError.html</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.divingWeb.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/mode/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mode</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mode</servlet-name>
    <url-pattern>/mode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Facturador</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeFacturador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturador</servlet-name>
    <url-pattern>/mode/facturador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/mode/documento/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchClients</display-name>
    <servlet-name>SearchClients</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.SearchClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClients</servlet-name>
    <url-pattern>/mode/client/SearchClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NewClient</display-name>
    <servlet-name>NewClient</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.NewClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClient</servlet-name>
    <url-pattern>/mode/client/NewClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Agrega un cliente a una factura, nota de credito o remito.</description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/mode/documento/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Crea un nuevo producto y lo almacena en la base de datos</description>
    <display-name>NewProduct</display-name>
    <servlet-name>NewProduct</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.NewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProduct</servlet-name>
    <url-pattern>/mode/product/NewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Recibe un formulario con la factura lista.</description>
    <display-name>Facturar</display-name>
    <servlet-name>Facturar</servlet-name>
    <servlet-class>com.divingWeb.servlets.Facturar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturar</servlet-name>
    <url-pattern>/mode/facturador/facturar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModeRemito</display-name>
    <servlet-name>ModeRemito</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeRemito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeRemito</servlet-name>
    <url-pattern>/mode/remito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Permite agregar elementos nuevas (productos, clientes, proveedores)</description>
    <display-name>ElementFactory</display-name>
    <servlet-name>ElementFactory</servlet-name>
    <servlet-class>com.divingWeb.servlets.ElementFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElementFactory</servlet-name>
    <url-pattern>/mode/elementFactory</url-pattern>
  </servlet-mapping>
</web-app>