<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vicenta</display-name>
  <welcome-file-list>
    <welcome-file>JSP/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>indexError.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.divingWeb.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/mode/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mode</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mode</servlet-name>
    <url-pattern>/mode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Facturador</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeFacturador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturador</servlet-name>
    <url-pattern>/mode/facturador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/mode/documento/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchClients</display-name>
    <servlet-name>SearchClients</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.SearchClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClients</servlet-name>
    <url-pattern>/mode/client/searchClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Agrega un cliente a una factura, nota de credito o remito.</description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/mode/documento/addClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Recibe un formulario con la factura lista.</description>
    <display-name>Facturar</display-name>
    <servlet-name>Facturar</servlet-name>
    <servlet-class>com.divingWeb.servlets.Facturar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturar</servlet-name>
    <url-pattern>/mode/facturador/facturar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModeRemito</display-name>
    <servlet-name>ModeRemito</servlet-name>
    <servlet-class>com.divingWeb.servlets.ModeRemito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeRemito</servlet-name>
    <url-pattern>/mode/remito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Permite agregar elementos nuevas (productos, clientes, proveedores)</description>
    <display-name>ElementFactory</display-name>
    <servlet-name>ElementFactory</servlet-name>
    <servlet-class>com.divingWeb.servlets.ElementFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElementFactory</servlet-name>
    <url-pattern>/mode/elementFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Crear un elemento producto</description>
    <display-name>NewProduct</display-name>
    <servlet-name>NewProduct</servlet-name>
    <servlet-class>com.divingWeb.servlets.NewElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProduct</servlet-name>
    <url-pattern>/mode/newElement/newProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Crear un elemento cliente</description>
    <display-name>NewClient</display-name>
    <servlet-name>NewClient</servlet-name>
    <servlet-class>com.divingWeb.servlets.NewElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClient</servlet-name>
    <url-pattern>/mode/newElement/newClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Crear un elemento proveedor</description>
    <display-name>NewProvider</display-name>
    <servlet-name>NewProvider</servlet-name>
    <servlet-class>com.divingWeb.servlets.NewElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProvider</servlet-name>
    <url-pattern>/mode/newElement/newProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Ejecuta la accion de remito</description>
    <display-name>ActionRemito</display-name>
    <servlet-name>ActionRemito</servlet-name>
    <servlet-class>com.divingWeb.servlets.action.ActionRemito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionRemito</servlet-name>
    <url-pattern>/mode/document/remito/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Busca proveedores</description>
    <display-name>SearchProviders</display-name>
    <servlet-name>SearchProviders</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.SearchProviders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProviders</servlet-name>
    <url-pattern>/mode/providers/searchProviders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Agregar un proveedor al documento.</description>
    <display-name>AddProvider</display-name>
    <servlet-name>AddProvider</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.AddProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProvider</servlet-name>
    <url-pattern>/mode/documento/addProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Devuelve una tabla con el stock</description>
    <display-name>SelectStock</display-name>
    <servlet-name>SelectStock</servlet-name>
    <servlet-class>com.divingWeb.servlets.ajax.SelectStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStock</servlet-name>
    <url-pattern>/SelectStock</url-pattern>
  </servlet-mapping>
</web-app>